[data-ember-action] {
  cursor: pointer;
}

a {
  color: #83A024;
}

body {
  font-family: 'Karla', sans-serif;
  background: #222;
  color: #CCC;
  font-style: italic;
}

h1, nav {
  text-shadow: 0px -2px 2px rgba(0, 21, 74, 1);
}

h1 {
  font-size: 48px;
  color: #A54B56;
  margin-left: 10px;
  margin-bottom: -10px;
}

h1, h2 {
  font-family: 'Almendra', serif;
  font-style: normal;
}

h2 {
  color: #83A024;
}

nav {
  background: url('../img/bloody.jpg');
  font-size: 16px;
}

img {
  width: 100%;
}

.col-md-1 {
  margin: 0;
  padding: 0;
}

.lot {
  height: 180px;
  margin-right: 10px;
}

.lot-action-menu {
  background: #444;
  border-radius: 5px;
  padding: 1.5em 1em 1em 1em;
}

.no-padding-div {
  padding: 0;
}

.property-heading {
  color: #83A024;
}

.well {
  background: #444;
}

#add-item-btn a {
  color: #CCC;
}

input {
  margin-right: 1em;
}

.align-div-right{
  text-align: right;
}

.ember-text-field, .ember-text-area {
  background: #444;
  color: #CCC;
}

.nav, .navbar-nav {
  float: right;
}

.navbar-default .navbar-nav > li {
   border-radius: 5px;
   background: rgba(255, 255, 255, 0.12);
   padding: 0;
   margin: 2em 1em 0 0;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:visited,
.navbar-default .navbar-nav > li > a:hover {
  padding: 0.5em;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:active,
.navbar-default .navbar-nav > li > a:visited {
   color: #83A024;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #7D031D;
}


/*~~~~~~~~~~~~~~~~~~~~~*/

#modalContainer {
  background-color:rgba(0, 0, 0, 0.3);
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  z-index:10000;
  background-image:url(tp.png); /* required by MSIE to prevent actions on lower z-index elements */
}

#alertBox {
  position:relative;
  width:300px;
  min-height:100px;
  margin-top:50px;
  border:1px solid #666;
  background-color:#444;
  background-repeat:no-repeat;
  background-position:20px 30px;
  border-radius: 5px;
}

#modalContainer > #alertBox {
  position:fixed;
}

#alertBox h1 {
  margin:0;
  font:bold 0.9em verdana,arial;
  background-color:#83A024;
  color: #A54B56;
  border-bottom:1px solid #000;
  padding:2px 0 2px 5px;
}

#alertBox p {
  font:0.7em verdana,arial;
  height:50px;
  padding-left:5px;
  margin-left:55px;
  color: #A54B56;
}

#closeBtn {
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

#alertBox #closeBtn {
  display:block;
  position:relative;
  margin:5px auto;
  padding:7px;
  border:0 none;
  width:70px;
  font:0.7em verdana,arial;
  text-transform:uppercase;
  text-align:center;
  color:#A54B56;
  font-weight: bold;
  background-color:#83A024;
  border-radius: 3px;
  text-decoration:none;

}

/* unrelated styles */

#mContainer {
  position:relative;
  width:600px;
  margin:auto;
  padding:5px;
  border-top:2px solid #000;
  border-bottom:2px solid #000;
  font:0.7em verdana,arial;
}

h1,h2 {
  margin:0;
  padding:4px;
  font:bold 1.5em verdana;
  border-bottom:1px solid #000;
}

code {
  font-size:1.2em;
  color:#069;
}

#credits {
  position:relative;
  margin:25px auto 0px auto;
  width:350px;
  font:0.7em verdana;
  border-top:1px solid #000;
  border-bottom:1px solid #000;
  height:90px;
  padding-top:4px;
}

#credits img {
  float:left;
  margin:5px 10px 5px 0px;
  border:1px solid #000000;
  width:80px;
  height:79px;
}

.important {
  background-color:#F5FCC8;
  padding:2px;
}

code span {
  color:green;
}
