<h1>Add New Lot</h1>

<form>
  <div class="form-group">
    <label for="title">Title</label>
    {{input id="title" class="form-control" value=title}}
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    {{textarea id="description" class="form-control" value=description rows="3"}}
  </div>
  <div class="form-group">
    <label for="owner">Owner</label>
    {{input id="owner" class="form-control" value=owner}}
  </div>

  <button class="btn btn-danger" {{action 'save'}}><i class="fa fa-floppy-o"></i></button>
</form>
