<h4>Please choose a lot below to view items</h4>

<div class='row'>
  {{#each}}
    <div class="lot well col-md-4">
      <div class='col-md-3'>
         pic here! <!-- {{image}} -->
      </div>
      <div class='col-md-8'>
        <h5>{{#link-to 'lot' this.id}}{{title}}{{/link-to}}</h5>
        <p>{{description}}</p>
        <p>{{owner}}</p>
      </div>
    </div>
  {{/each}}
</div>
